<article class="md:grid md:grid-cols-4 md:items-baseline">

  <!-- 时间（桌面端在左） -->
  <time
    class="hidden md:block mt-1 text-sm text-zinc-400 dark:text-zinc-500"
    datetime="{{ time.Format "2006-01-02" $displayDate }}">

    {{ if eq $item.Params.date_display "month" }}
      {{ time.Format "2006年1月" $displayDate }}
    {{ else }}
      {{ time.Format "2006年1月2日" $displayDate }}
    {{ end }}

  </time>

  <!-- 内容区域 -->
  <div class="md:col-span-3 group relative flex flex-col items-start">

    <h2 class="text-lg font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">

      {{ if not $disable }}
        <a href="{{ $item.RelPermalink }}" class="relative z-10">
          {{ $item.Title }}
        </a>
      {{ else }}
        <span class="relative z-10">
          {{ $item.Title }}
        </span>
      {{ end }}

    </h2>

    <!-- 手机端时间 -->
    <time
      class="md:hidden mb-2 text-sm text-zinc-400 dark:text-zinc-500"
      datetime="{{ time.Format "2006-01-02" $displayDate }}">
      {{ time.Format "2006年1月2日" $displayDate }}
    </time>

    <p class="mt-2 text-sm text-zinc-600 dark:text-zinc-400 line-clamp-3">
      {{ $summary }}
    </p>

  </div>

</article>
