{{ $item := .item }}
{{ $summary := partial "functions/get_summary" $item }}
{{ $summary = $summary | page.RenderString }}
{{ $displayDate := .item.Params.event_start | default .item.Date }}
{{ $disable := $item.Params.disable_link | default false }}

<article class="md:grid md:grid-cols-4 md:items-baseline">
  <div class="md:col-span-3 group relative flex flex-col items-start">

    <h2 class="text-base font-semibold tracking-tight text-zinc-800 dark:text-zinc-100">

      <!-- hover 背景 -->
      <div
        class="absolute -inset-x-4 -inset-y-6 z-0 scale-95 bg-zinc-50 opacity-0 transition
        group-hover:scale-100 group-hover:opacity-100
        dark:bg-zinc-800/50 sm:-inset-x-6 sm:rounded-2xl
        {{ if $disable }}pointer-events-none{{ end }}">
      </div>

      {{ if not $disable }}

        <!-- 可跳转标题 -->
        <a href="{{ $item.RelPermalink }}">
          <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl"></span>
          <span class="relative z-10">{{ $item.Title }}</span>
        </a>

      {{ else }}

        <!-- 不可跳转标题 -->
        <span class="absolute -inset-x-4 -inset-y-6 z-20 sm:-inset-x-6 sm:rounded-2xl pointer-events-none"></span>
        <span class="relative z-10">{{ $item.Title }}</span>

      {{ end }}

    </h2>

    <!-- 手机端日期 -->
    <time
      class="md:hidden relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500 pl-1"
      datetime="{{ time.Format "2006-01-02" $displayDate }}">

      {{ if eq $item.Params.date_display "month" }}
        {{ time.Format "2006年1月" $displayDate }}
      {{ else }}
        {{ time.Format "2006年1月2日" $displayDate }}
      {{ end }}

    </time>

    <!-- 摘要 -->
    <p class="relative z-10 mt-3 text-sm text-zinc-600 dark:text-zinc-400 line-clamp-3">
      {{ $summary }}
    </p>

  </div>

  <!-- 桌面端日期 -->
  <time
    class="mt-1 hidden md:block relative z-10 order-first mb-3 flex items-center text-sm text-zinc-400 dark:text-zinc-500"
    datetime="{{ time.Format "2006-01-02" $displayDate }}">

    {{ if eq $item.Params.date_display "month" }}
      {{ time.Format "2006年1月" $displayDate }}
    {{ else }}
      {{ time.Format "2006年1月2日" $displayDate }}
    {{ end }}

  </time>

</article>
