/* 解决方案：下移左侧栏，使其与右侧正文对齐 */
.dark .col-12.col-lg-4 {
  padding-top: 4rem !important; /* 这个值控制下移距离，可根据效果微调 */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* 确保右侧内容也有适当的上边距 */
.dark .col-12.col-lg-8 {
  padding-top: 2rem !important;
}
